.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.container {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
    border: 3px solid #313131;
}
.plotis {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    gap: 1.5rem;
    padding: 1.5rem;
    border: 3px solid #313131;
}

