
.col {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.sqr {
    height: 3rem;
    width: 3rem;
    gap: 0.3rem;
    border: 3px solid #313131;
}
.sqr[data-active=true]{
    background-color: purple;
}